<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Cminds_Registration>
            <version>1.4.6</version>
        </Cminds_Registration>
    </modules>
    <global>
        <blocks>
            <registration>
                <class>Cminds_Registration_Block</class>
            </registration>
        </blocks>
        <models>
            <registration>
                <class>Cminds_Registration_Model</class>
                <resourceModel>registration_mysql4</resourceModel>
            </registration>
            <registration_mysql4>
                <class>Cminds_Registration_Model_Mysql4</class>
            </registration_mysql4>
        </models>
        <helpers>
            <registration>
                <class>Cminds_Registration_Helper</class>
            </registration>
        </helpers>
        <resources>
            <cminds_registration>
                <setup>
                    <module>Cminds_Registration</module>
                    <class>Cminds_Registration_Model_Mysql4_Setup</class>
                </setup>
            </cminds_registration>
        </resources>

    </global>
    <frontend>
        <translate>
	            <modules>
	                <cminds_registration>
	                    <files>
	                        <default>Cminds_Registration.csv</default>
	                    </files>
	                </cminds_registration>
	            </modules>
	        </translate>
        <layout>
            <updates>
                <registration>
                    <file>cminds_registration.xml</file>
                </registration>
            </updates>
        </layout>
        <routers>
            <cminds_registration>
                <use>standard</use>
                <args>
                    <module>Cminds_Registration</module>
                    <frontName>registration</frontName>
                </args>
            </cminds_registration>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
	            <modules>
	                <registration>
	                    <files>
	                        <default>Cminds_Registration.csv</default>
	                    </files>
	                </registration>
	            </modules>
	        </translate>
        <layout>
            <updates>
                <registration>
                    <file>cminds_registration.xml</file>
                </registration>
            </updates>
        </layout>

    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cminds_registration before="Mage_Adminhtml">Cminds_Registration_Adminhtml</cminds_registration>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

</config>