<?xml version="1.0"?>
<config>
    <sections>        
        <notification translate="label" module="sz_notification">
            <label>Notification Configuration</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>601</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <product_file_upload translate="label">
                    <label>Product File Upload Notification</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_enable translate="label">
                            <label>Send Email</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[Send Email to Admin whenever supplier upload product files.]]>
                            </comment>
                        </is_enable>
                        <subject translate="label">
                            <label>Email Subject</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                        </subject>
                        <sender translate="label">
                            <label>Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity
                            </source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender>
                        <email_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template
                            </source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </email_template>
                        <receiver translate="label">
                            <label>Copy Email Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>
                                <![CDATA[Mention all emails seperated by comma (,)]]>
                            </comment>
                        </receiver>
                    </fields>
                </product_file_upload>
                <product_file_process translate="label">
                    <label>Product File Process Notification</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_enable translate="label">
                            <label>Send Email</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[Send Email to supplier whenever application process the product files.]]>
                            </comment>
                        </is_enable>
                        <subject translate="label">
                            <label>Email Subject</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                        </subject>
                        <sender translate="label">
                            <label>Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity
                            </source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender>
                        <email_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template
                            </source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </email_template>
                        <receiver translate="label">
                            <label>Copy Email Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>
                                <![CDATA[Mention all emails seperated by comma (,) where we  need to send the email copy]]>
                            </comment>
                        </receiver>
                    </fields>
                </product_file_process>
                <order_place_notification translate="label">
                    <label>Order Placement Notification</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_enable translate="label">
                            <label>Send Email</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[Send Email to supplier whenever customer place order for its product.]]>
                            </comment>
                        </is_enable>
                        <subject translate="label">
                            <label>Email Subject</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                        </subject>
                        <sender translate="label">
                            <label>Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity
                            </source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender>
                        <email_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template
                            </source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </email_template>
                        <receiver translate="label">
                            <label>Copy Email Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>
                                <![CDATA[Mention all emails seperated by comma (,) where we  need to send the email copy]]>
                            </comment>
                        </receiver>
                    </fields>
                </order_place_notification>
                <order_cancellation_request translate="label">
                    <label>Order Cancellation Notification</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_enable translate="label">
                            <label>Send Email</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[Send Email to admin whenever customer/supplier place order cancellation request.]]>
                            </comment>
                        </is_enable>
                        <subject translate="label">
                            <label>Email Subject</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                        </subject>
                        <sender translate="label">
                            <label>Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity
                            </source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender>
                        <email_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template
                            </source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </email_template>
                        <receiver translate="label">
                            <label>Copy Email Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>
                                <![CDATA[Mention all emails seperated by comma (,) where we  need to send the email copy]]>
                            </comment>
                        </receiver>
                    </fields>
                </order_cancellation_request>
                <order_cancellation_process translate="label">
                    <label>Order Cancellation Process Notification</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_enable translate="label">
                            <label>Send Email</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[Send Email to customer and supplier whenever admin process order cancellation request.]]>
                            </comment>
                        </is_enable>
                        <subject translate="label">
                            <label>Email Subject</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                        </subject>
                        <sender translate="label">
                            <label>Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity
                            </source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender>
                        <email_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template
                            </source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </email_template>
                        <receiver translate="label">
                            <label>Copy Email Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>
                                <![CDATA[Mention all emails seperated by comma (,) where we  need to send the email copy]]>
                            </comment>
                        </receiver>
                    </fields>
                </order_cancellation_process>
            </groups>
        </notification>
    </sections>
</config>