<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Cminds_Marketplacecustom>
            <version>1.0.1</version>
        </Cminds_Marketplacecustom>
    </modules>
    <global>
        <blocks>
            <marketplacecustom>
                <class>Cminds_Marketplacecustom_Block</class>
            </marketplacecustom>
            <marketplace>
                <rewrite>
                    <adminhtml_customer_edit>Cminds_Marketplacecustom_Block_Adminhtml_Customer_Edit</adminhtml_customer_edit>
                </rewrite>
            </marketplace>
        </blocks>
        <models>
            <marketplacecustom>
                <class>Cminds_Marketplacecustom_Model</class>
                <resourceModel>marketplacecustom_mysql4</resourceModel>
            </marketplacecustom>
            <marketplacecustom_mysql4>
                <class>Cminds_Marketplacecustom_Model_Mysql4</class>
            </marketplacecustom_mysql4>
        </models>
        <helpers>
            <marketplacecustom>
                <class>Cminds_Marketplacecustom_Helper</class>
            </marketplacecustom>
        </helpers>
        <resources>
            <cminds_marketplacecustom>
                <setup>
                    <module>Cminds_Marketplacecustom</module>
                    <class>Cminds_Marketplacecustom_Model_Mysql4_Setup</class>
                </setup>
            </cminds_marketplacecustom>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <marketplaceccustom>
                    <file>cminds_marketplacecustom.xml</file>
                </marketplaceccustom>
            </updates>
        </layout>
        <routers>
            <cminds_supplierfrontendproductuploader>
                <args>
                    <modules>
                        <cminds_marketplacecustom before="Cminds_Supplierfrontendproductuploader">Cminds_Marketplacecustom</cminds_marketplacecustom>
                    </modules>
                </args>
            </cminds_supplierfrontendproductuploader>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cminds_marketplacecustom before="Mage_Adminhtml">Cminds_Marketplacecustom_Adminhtml</cminds_marketplacecustom>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cminds_marketplacecustom>
                    <file>cminds_marketplacecustom.xml</file>
                </cminds_marketplacecustom>
            </updates>
        </layout>
        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <marketplace_adminhtml_customer_save_after>
                        <class>marketplacecustom/adminhtml_observer</class>
                        <method>onCustomerSave</method>
                    </marketplace_adminhtml_customer_save_after>
                </observers>
            </adminhtml_customer_save_after>
        </events>
    </adminhtml>
</config>